.header__wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header__title {
  display: block;
}

.header__button {
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: rgb(255, 255, 255);
  display:block;
  width: 10%;
  text-align: center;
  font-size: 14px;
  padding: 8px 16px;
  margin: 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: background-color 0.1s linear;
  background-color: rgb(248, 64, 64);
  border: 1px solid rgb(204, 78, 78);  

}
  
.header__button:hover {
  cursor: pointer;
  background-color: rgb(238, 145, 145);
}

