.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: center;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}

.button__delete {
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: rgb(255, 255, 255);
  display:block;
  width: 50%;
  text-align: center;
  font-size: 14px;
  padding: 8px 16px;
  margin: 20px auto;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: background-color 0.1s linear;
  background-color: rgb( 43, 153, 91 );
  border: 1px solid rgb( 33, 126, 74 );
}

.button__delete:hover {
  cursor: pointer;
  background-color: rgb( 75, 183, 141 );
}