.statistics__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.statistics__header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 6fr));
  font-weight: 700;
}

.statsitics__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 6fr));
}